/* Global CSS
--------------------------------------------- */

body,
body > div { /* Hack because some text is out of <p> tag */
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

a {
    color: #0d87e9;
}

a:hover {
    color: #095da0;
    text-decoration: underline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  padding: 6px 12px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-color: #0b79d1;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
  background-color: #0a6bb8;
  border-color: #085797;
  text-decoration: none;
}

#wpadminbar ul#wp-admin-bar-root-default> li.toolset-edit-link> a {
    position: relative;
    display: none;
}

.entry {
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 40px;
}

.footer-widgets {
display: none;
}

.full-width-content .content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    float: none;
}

li {
  font-size: 1.8rem;
}

blockquote {
  border-width: 0 2px;
  border-style: solid;
  border-color: #97694b;
  text-align: center;
  padding: 0 3.2rem;
  font-size: 2rem;
  font-style: normal;
  color: #152C51;
  text-transform: uppercase;
  margin: 4rem 0 0;
}

blockquote p {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

blockquote h5,
blockquote p + p,
h5 {
  font-family:'Avenir Next W06 Regular';
  color: #97694b;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

blockquote::before {
display: none;
}

.simply-med {
margin-bottom: 40px important;
}

/* Font CSS
--------------------------------------------- */

p {
  font-size: 1.8rem;
}

h1,
.entry-title {
  margin-bottom: 1.111em;
  font-weight: 400;
  letter-spacing: -.03em;
  font-size: 3.2rem;
}

h2, h3, h4 {
font-family:'Avenir Next W06 Demi';
color: #00A0BE;
}

.sadhana-tagline {
  color: #836C49;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

/* Toolset CSS
--------------------------------------------- */

.post-edit-link,
.ab-item {
display: none;
}

/*removes views edit from pages and posts*/
a[title*="Edit view"] { display: none; }

/* Header CSS
--------------------------------------------- */

#logo {
  background: url(images/web-logo.png) top center no-repeat;
  width: 192px;
  height: 54px;
  background-size: contain;
  margin-left: -3px;
}

.nav-primary {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-transform: uppercase;
}

.nav-primary a {
  color: rgba(0,0,0,0.54);
  font-size: 1.4rem;
}

.genesis-nav-menu a {
  padding: 17px 14px;
}

.genesis-nav-menu > li:first-child a {
  padding-left: 0;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
  color: rgba(0,0,0,0.8);
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.current-menu-item > a, {
  text-decoration: none;
}

/* Primary Nav Dropdown */

.menu-primary .sub-menu {
  margin-top: 1px;
  padding: 8px 0;
  width: 24rem;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: white;
}

.menu-primary .sub-menu li {
  width: 100%;
}

.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited {
  padding: 8px 24px;
  text-transform: none;
  border: none;
  width: auto;
}

.menu-primary li li a:active,
.menu-primary li li a:hover {
  color: rgba(0,0,0,0.8);
}

/**/

.site-header .widget-area {
margin-top: 30px;
margin-right: 0px;
max-width: 600px;
}

#menu-item-1940 a {
color: #808084;
}


.menu-item img._before, .rtl .menu-item img._after {
    margin-right: .5em;
    background-size: contain;
    width: 18px;
    margin-top: -4px;
}


/* Home Page CSS
--------------------------------------------- */

.home-page .site-container {
background-color: white;
}

.ez-home-container-area {
    margin: 0 0 10px;
}

#ez-home-middle-container {
margin-bottom: 20px;
}

#ez-home-middle-container,
#ez-home-bottom-container {
    font-size: 18px;
	font-size: 1.8rem;
    padding-left: 0px;
    padding-right: 0px;
}


#ez-home-middle-container .entry-content,
#ez-home-bottom-container .entry-content {
 font-weight: 400;
}

.home-page .entry {
background: none;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
margin-bottom: -55px;
}


.home-page .site-inner {
    padding-top: 30px;
}

#ez-home-container-wrap .widget-title {
margin-bottom: 0px;
background: #132530;
font-family:'Avenir Next W06 Demi';
color: #bca97d;
text-transform: uppercase;
padding: 12px 15px;
	font-size: 16px;
	font-size: 1.6rem;
}

#ez-home-container-wrap .widget-title h3 {
font-family:'Avenir Next W06 Regular';
margin-bottom: 0px;
font-size: 14px;
font-size: 1.4rem;
}

#ez-home-container-wrap  a.alignleft, img.alignleft, .wp-caption.alignleft {
 margin: 0 0px 0px 0;
}

a.alignleft, img.alignleft, .wp-caption.alignleft {
 margin: 0 0px 20px 0;
}

.home-page .footer-widgets {
display: block;
}


/* Footer CSS
--------------------------------------------- */

#swami_footer_quote {
background: none;
}

.footer-widgets {
color: #b5985a;
background-color: #132530;
}


 #swami_footer_quote {
background: #2e404c;
}

.swami-quote {
min-height: 80px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
border-top: 1px solid #3f5666;
border-bottom: 1px solid #3f5666;
}

 .swami-quote-text {
max-width: 700px;
margin: auto;
padding-top: 40px;
}

.swami-tilak {
background: url(images/swami-tilak-black4.png) top center no-repeat;
background-size: contain;
height: 120px;
margin: auto;
}

.swami-quote h4 {
color: #c7b182;
text-transform: uppercase;
    font-size: 17px;
    font-size: 1.7rem;
}


.site-footer .widget-title {
text-transform: uppercase;
font-family:'Avenir Next W06 Regular';
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 25px;
    background: none;
    padding: 0px;
}

.site-footer input {
    padding: 0px;
    margin-bottom: 10px;
	}

.site-footer input[type="submit"] {
color: #0d87e9;
background-color: none;
}


.site-footer input:hover[type="submit"] {
color: #106cb5;
background-color: none;
text-decoration: underline;
}

.neg-top-margin {
margin-top: -30px;
}

.site-footer p {
color: rgba(255,255,255,0.5);
font-size: 14px;
font-size: 1.4rem;
}

.site-footer a {
  color: rgba(255,255,255,0.8);
	}

.site-footer a:hover {
  color: white;
text-decoration: underline;
	}

.site-footer button, .site-footer  input[type="button"], .site-footer  input[type="reset"], .site-footer  input[type="submit"], .site-footer .button,
.site-footer input:hover[type="submit"]  {
    background-color: #132530;
border: 0px solid transparent;
}

.simple-social-icons ul li a {
	padding: 3px !important;
}

.site-footer .wrap {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #132530;
}

#black-studio-tinymce-26 {
margin-bottom: 15px;
}

/* Calendar CSS
--------------------------------------------- */

body .fc {
    font-size: 0.7em !important;
}

.events-calendar .entry-title {
 margin-bottom: 40px;
}

.events-calendar .content {
    max-width: 1100px !important;
}

.events-calendar button:hover {
color: #333333;
    background-color: #e6e6e6;
    border-color: #bebebe;
}

/* Gravity Forms
--------------------------------------------- */

.gform_wrapper {
padding: 40px;
    font-size: 16px;
    font-size: 1.6rem;
}

.noline {
    border-bottom: 0px double #CCC;
    padding: 0 16px 8px 0;
    margin: 28px 0;
    clear: both;
}

/* Slider CSS
--------------------------------------------- */


.soliloquy-container .soliloquy-caption.soliloquy-caption-left {
    width: 30%;
    height: 60%;
    left: 0;
    top: 70px;
}
@media only screen and (max-width: 667px) {
.soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
font-size: 0.8em !important;
line-height: 1.25;
display: block;
color: #fff;
text-shadow: 0 1px 1px #000;
text-align: left !important;
padding: 10px;
margin-top: 90px;
}
}

.sadhana-practice-brand {
  max-width: 360px;
  margin-bottom: 12px;
}

.sadhana-practice-brand img {
  width: 100%;
}


/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 1023px) {

  .js .menu-toggle,
  .js .menu-toggle.activated,
  .js .menu-toggle:hover,
  .js .menu-toggle:focus {
    color: rgba(0,0,0,0.54);
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    line-height: 42px;
    outline: none;
  }

  .menu-toggle:before,
  .menu-toggle.activated:before {
    margin-right: 8px;
    line-height: 40px;
    font-size: 24px;
  }

.fa-caret-down {
	display: none !important;
}

  .js .genesis-nav-menu {
    background: #1a3342;
    padding-left: 24px;
  }

  .js .nav-primary .genesis-nav-menu .menu-item {
    margin: 0;
  }

  .nav-primary {
    border-top: 0;
    border-bottom: 0;
  }

  .nav-primary a {
    color: rgba(255,255,255,0.8);
    background-color: transparent;
  }

  .genesis-nav-menu a:hover,
  .genesis-nav-menu a:focus,
  .genesis-nav-menu .current-menu-item > a,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu .sub-menu .current-menu-item > a:focus {
    color: white;
  }

  .genesis-nav-menu .sub-menu a:hover {
    color: white;
  }

  .js .nav-primary .genesis-nav-menu .menu-item,
  .js .site-header .genesis-nav-menu .menu-item {
    border: 1px solid rgba(255,255,255,.1);
    border-left: none;
    border-bottom: none;
  }

  .js .nav-primary .genesis-nav-menu .menu-item a,
  .js .site-header .genesis-nav-menu .menu-item a {
    padding: 0;
    line-height: 42px;
  }

  .js .genesis-nav-menu .sub-menu,
  .js .genesis-nav-menu .sub-menu li a {
    background-color: transparent;
  }

  .js .genesis-nav-menu .sub-menu {
    padding: 0;
  }

  .js .genesis-nav-menu .sub-menu li {
    padding-left: 16px;
  }

.site-header .wrap {
    background-color: white;
}

.wrap {
    padding-left: 0%;
    padding-right: 0%;
    background-color: #717171;
}

  li a, .menu-primary li li a:link, .menu-primary li li a:visited {
      background: #30424d;
  }

.genesis-nav-menu {
margin-left: 0px;
}

#menu-item-1940 a {
    color: #ffffff;
}

#logo {
    margin-left: -70px;
}


}


@media only screen and (max-width: 860px) {

#logo {
    margin-left: -30px;
}

.swami-quote h4 {
    font-size: 14px;
    font-size: 1.4rem;
}

#ez-home-container-wrap .entry-content {
margin-bottom: 20px;
}

#ez-home-bottom-container img {
margin-bottom: 10px;
}

#ez-home-bottom-container {
margin-bottom: 40px;
}


blockquote {
    margin-left: 0px !important;
    padding-left: 30px;
}

.swami-quote-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

}

@media only screen and (max-width: 500px) {

#logo {
    width: 250px;
    height:70px;
    margin-left: -10px;
}

.sadhana {
max-width: 250px;
}

blockquote p {
    font-size: 16px;
    font-size: 1.6rem;
}

#ez-home-bottom-container {
margin-bottom: 25px;
}

}

.menu-item-has-children {
	cursor: pointer;
}

button.sub-menu-toggle.dashicons-before.dashicons-arrow-down {
	background: transparent;
	color: rgba(255,255,255,.8);
}

button.sub-menu-toggle.dashicons-before.dashicons-arrow-down:hover,
button.sub-menu-toggle.dashicons-before.dashicons-arrow-down:focus {
	outline: none;
	color: white;
}

button.sub-menu-toggle.dashicons-before.dashicons-arrow-down.activated {
	outline: #ccc solid 0px;
}

@media (min-width: 1024px) {
  .genesis-nav-menu {
    width: calc(100% + 14px);
  }
}


/*------------------------------------
// #OMC CIRCLES AND SADHANA TEACHERS
//----------------------------------*/

/* Bootstrap 4 tables */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}


/* Bootstrap 4 Alerts */

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c1e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6d5ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7ecb5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9b9;
}

.alert-danger .alert-link {
  color: #843534;
}


/* Sadhana Teachers and OMC Circles Tables */

.wpv-filter-form {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

input,
select {
  display: block;
  width: 100%;
  padding: .8rem 1.2rem;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .2rem;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
  margin-top: .4rem;
}

input:focus,
select:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

select {
    height: calc(3.6rem + 2px);
}

.js-wpv-dps-spinner {
  display: inline-block;
}

.js-wpv-dps-spinner img {
  vertical-align: middle;
}

table {
  line-height: 1.4;
  word-break: normal;
}

.table thead th {
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}

table img {
  width: 72px;
  height: 72px;
  max-width: none;
}

@media (min-width: 861px) {

  .wpv-filter-form {
    margin-bottom: .8rem;
  }

  input,
  select {
    display: inline-block;
    width: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .container-wide {
    width: 960px;
    margin-left: calc(-340px / 2);
  }
}

@media (min-width: 1201px) {
  .container-wide {
    width: 1150px;
    margin-left: calc(-350px / 2);
  }
}
