.views-template-event-page .breadcrumb-navigation,
.views-template-event-page .events-maker-ical,
.views-template-event-page .comments-link,
.views-template-event-page .event-category,
.views-template-event-page #event-google-map,
.views-template-event-page .event-location {
  display: none;
}

.views-template-event-page .entry-thumbnail:hover {
  cursor: default;
  text-decoration: none;
}

.views-template-event-page .entry-title {
  margin-bottom: 1.111em;
}

.views-template-event-page .attachment-post-thumbnail {
  max-width: 100%;
  margin-bottom: 20px;
}

.views-template-event-page .entry-header {
  clear: none;
}

.views-template-event-page .entry-header .entry-meta {
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.views-template-event-page .entry-header a {
  color: #333;
}

.views-template-event-page .entry-header a:hover {
  color: #333;
  cursor: default;
  text-decoration: none;
}

.views-template-event-page .entry-header .entry-date,
.top-info > div {
  position: relative;
  font-family: 'Avenir Next W06 Regular';
  line-height: 1.4;
  width: 100%;
}

.views-template-event-page .entry-header .dtstart:before,
.views-template-event-page .fa:before {
  position: absolute;
  top: 2px;
  width: 20px;
  text-align: center;
  left: -30px;
  color: #757575;
  font: normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.views-template-event-page .entry-header .dtstart:before {
  content: "\f073";
}

.single-event .entry-content {
  clear: none;
}

.top-info {
  font-size: 18px;
  padding-left: 40px;
}

.top-info > div:not(:last-child) {
  margin-bottom: 20px;
}

.top-info p {
  font-size: 18px;
  line-height: 1.4;
}

.top-info .info-secondary {
  color: #757575;
  font-size: 16px;
}

.middle-info {
  clear: both;
  padding-top: 1px;
}

.middle-info h2 {
  font-size: 30px;
  margin: 1.5em 0 1em;
}

.event-poster img {
  width: auto;
  max-height: 780px;
  border: 1px solid #ddd;
}

@media (min-width: 901px) {
  .views-template-event-page .attachment-post-thumbnail {
    max-width: 50%;
    float: left;
    margin-bottom: 0;
  }

  .views-template-event-page .entry-header .entry-meta,
  .top-info {
    margin-left: calc(50% + 20px);
  }
}

@media (min-width: 1024px) {
  .views-template-event-page .entry-title,
  .middle-info,
  .views-template-event-page .social-share {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}
